<template>
    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Problema 1
            </h2>

            <div class="py-12">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                        <div class="p-6 bg-white border-b border-gray-200">
                            <p class="pb-2">
                                Chico tem 1,50m e cresce 2 centímetros por ano, enquanto Juca tem 1,10m e
                                cresce 3 centímetros por ano. Construir um algoritmo que calcule e imprima
                                quantos anos serão necessários para que Juca seja maior que Chico.
                            </p>
                            <p class="text-base"><strong>R: </strong>Serão necessário <strong>{{years}}</strong> anos
                                para que Juca seja maior do que Chico.</p>
                        </div>
                    </div>
                </div>
            </div>

        </template>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';

export default {
    name: "One",
    components: {
        BreezeAuthenticatedLayout
    },
    props: {
        years: Object
    }
}
</script>

<style scoped>

</style>
