<template>
    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Problema 3
            </h2>
            <div class="py-12">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                        <div class="p-6 bg-white border-b border-gray-200">
                            <p>
                                Criar um algoritmo que gere uma matriz 5x5 e imprima:
                                toda a matriz, a matriz gerada apenas com os números
                                ímpares e outra só com os números pares.
                            </p>

                            <div class="row">
                                <div class="col-md-4">
                                    <dl>
                                        <dt>Matriz</dt>
                                        <dd v-for="(item, id) in item.matriz" :key="id" >{{item}}</dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl>
                                        <dt>Matriz de números Pares</dt>
                                        <strong>{{item.matrizPar.toString()}}</strong>
                                    </dl>
                                </div>

                                <div class="col-md-4">
                                    <dl>
                                        <dt>Matriz de números Impares</dt>
                                        <strong>{{item.matrizImpar.toString()}}</strong>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
export default {
    name: "Three",
    components: {
        BreezeAuthenticatedLayout
    },
    props: {
        item: Object
    }
}
</script>

<style scoped>

</style>
