<template>
    <BreezeAuthenticatedLayout>

        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Problema 2
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">

                        <div class="container-fluid">
                            <div class="flex">
                                <div class="col-md-4">
                                    <h3>Pessoas</h3>
                                    <hr>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Tipo</th>
                                            <th>Opções</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="user in users" :key="user.id">
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.type == 'P' ? 'Professor' : 'Aluno' }}</td>
                                            <td>
                                                <button @click.prevent="selected.user = user" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h3>Livros</h3>
                                <hr>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Código</th>
                                        <th>Opções</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="book in books" :key="book.id">
                                        <td>{{ book.id }}</td>
                                        <td>{{ book.name }}</td>
                                        <td>{{ book.code }}</td>
                                        <td>
                                            <button @click.prevent="selected.book = book" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div v-if="valid()" class="flex justify-center place-items-center">

                                <div class="w-96 pt-4 pb-2 px-2 border">
                                    <h4 class="text-lg">Comprovante de retirada do livro</h4>
                                    <p>
                                        <small class="text-sm">Pessoa: </small>
                                        <strong class="text-base">{{ selected.user.name }}</strong>
                                    </p>
                                    <p>
                                        <small class="text-sm">Livro: </small>
                                        <strong class="text-base">{{ selected.book.title }}</strong>
                                    </p>
                                    <p>
                                        <small class="text-sm">Dia da retirada: </small>
                                        <strong class="text-base">{{ moment().format('DD/MM/YYYY') }}</strong>
                                    </p>

                                    <p>
                                        <small class="text-sm">Dia máximo para entrega: </small>
                                        <strong class="text-base">{{ date() }}</strong>
                                    </p>

                                    <div class="text-center mt-2">
                                        <hr class="mb-0 mt-4">
                                        <small @click="limp()" class="text-sm">Assinatura</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </BreezeAuthenticatedLayout>
</template>

<script>
import moment from 'moment'
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';

export default {
    name: "two",
    components: {
        moment,
        BreezeAuthenticatedLayout
    },
    props: {
        users: Object,
        books: Object
    },
    data: () => ({
        show: false,
        books: [],
        users: [],
        selected: {
            book: {},
            user: {}
        }
    }),
    methods: {
        moment: function () {
            return moment();
        },
        date: function () {
            let data;

            if (this.selected.user.type === 'P') {
                data = moment().add({d: 10}).format('DD/MM/YYYY')
            }
            if (this.selected.user.type === 'A') {
                data = moment().add({d: 3}).format('DD/MM/YYYY')
            }

            return data;
        },
        valid: function () {
           return Object.entries(this.selected.user).length > 0 &&  Object.entries(this.selected.book).length > 0;
        },

        limp: function () {
            this.selected.user = {};
            this.selected.book = {};
        }
    },
}
</script>

<style scoped>

</style>
