<script setup>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import { Head, Link } from '@inertiajs/inertia-vue3';

const props = defineProps({
    data: Object
});

</script>

<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">

                        <Link :href="route('problemOne')" class="ml-4 text-sm text-gray-700 underline">
                            Problema 1
                        </Link>
                        <Link :href="route('problemTwo')" class="ml-4 text-sm text-gray-700 underline">
                            Problema 2
                        </Link>
                        <Link :href="route('problemThree')" class="ml-4 text-sm text-gray-700 underline">
                            Problema 3
                        </Link>

                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>
